.my-btn-border {
    border: 1px solid #FE4330;
    color: #FE4330;
    margin: 0.25rem 0;
    text-align: center;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
}

.my-btn-border:hover {
    background-color: #FE4330 !important;
    color: #fff !important;
}

.border-none {
    border: none !important;
}

.last-center {
    text-align-last: center;
}

.desc-btn {
    position: relative;
}

    .desc-btn .btn-description {
        position: absolute;
        top: 100%;
        right: 0;
        width: 15rem;
        background: gray;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }

    .desc-btn:hover .btn-description {
        visibility: visible;
        opacity: 1;
    }

.d-inline-block {
    display: inline-block;
}

.text-color-red {
    color: red;
}

.paging-btn {
    color: #FF4B2b;
    background: #f6f5f7;
    border: none;
    text-decoration: none;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.3rem;
    margin: 0.1rem;
}

    .paging-btn:hover {
        color: #fff;
        background: red;
        text-decoration: none !important;
    }

.paging-btn-selected {
    color: #fff;
    background: #FF4B2b;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.3rem;
    margin: 0.1rem;
}

    .paging-btn-selected:hover {
        color: #FFFFFF;
        background: red;
        text-decoration: none !important;
    }

.paging-div {
    background: white;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
