
@{
    ViewData["Title"] = "Complated";
}

<div class="row">
    <div class="col">
        <div class="text-success text-center rounded bg-white shadow" style="margin: auto;
        width: 45%;
        border: 3px solid green;
        padding: 10px;">
            <img src="~/images/completed.gif" style="width: 100%;" />
            <h2>Your Order is completed!</h2>
            <h3>You will receive the products you ordered for 7 working days.</h3>
        </div>
    </div>
</div>
<div class="row" style="margin-top:2rem;">
    <div class="col text-center">
        <a href="/" class="btn my-btn-border p-2 shadow" style="width:45%;"><h3>Continue Shopping</h3></a>
    </div>
</div>

