@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Admin Page</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="~/css/Admin/AdminSite.css" rel="stylesheet" />
    <style>
        .my-btn-border {
            border: 1px solid #FE4330;
            color: #FE4330;
            margin: 0.25rem 0;
            text-align: center;
            background: none;
            border-radius: 4px;
            transition: 0.5s;
            box-sizing: border-box;
        }

            .my-btn-border:hover {
                background-color: #FE4330 !important;
                color: #fff !important;
            }

        .border-none{
            border:none !important;
        }

        .last-center {
            text-align-last: center;
        }

        .desc-btn {
            position: relative;
        }

            .desc-btn .btn-description {
                position: absolute;
                top: 100%;
                right: 0;
                width: 15rem;
                background: gray;
                color: #fff;
                visibility: hidden;
                opacity: 0;
                /* transition effect. not necessary */
                transition: opacity .2s, visibility .2s;
            }

            .desc-btn:hover .btn-description {
                visibility: visible;
                opacity: 1;
            }

        .d-inline-block{
            display:inline-block;
        }

        .text-color-red{
            color:red;
        }
         .paging-btn {
            color: #FF4B2b;
            background: #f6f5f7;
            border: none;
            text-decoration: none;
            padding: 0.1rem 0.4rem 0.2rem 0.4rem;
            border-radius:0.3rem;
            margin:0.1rem;
        }

            .paging-btn:hover {
                color: #fff;
                background: red;
                text-decoration: none !important;
            }

        .paging-btn-selected {
            color: #fff;
            background: #FF4B2b;
            font-weight: bold;
            border: none;
            text-decoration: none;
            padding: 0.1rem 0.4rem 0.2rem 0.4rem;
            border-radius:0.3rem;
            margin:0.1rem;
        }

            .paging-btn-selected:hover {
                color: #FFFFFF;
                background: red;
                text-decoration: none !important;
            }

        .paging-div{
             /*bottom: 3rem;*/
             background : white;
             padding:0.4rem 0.5rem;
             border-radius:0.3rem;
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
        }
    </style>
    <script src="https://kit.fontawesome.com/31f0e95b95.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="../images/Admin-sidebar3.jpg" data-color="orange">

            <div class="sidebar-wrapper">
                <div class="logo p-0">
                    <a href="/" class="simple-text">
                        <img src="~/images/logo.png" style="        width: 11rem;" />
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link shadow" asp-controller="Admin" asp-action="Orders">
                            <i class="fas fa-chart-line"></i>
                            <p>Orders</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link shadow" asp-controller="Admin" asp-action="Users">
                            <i class="fas fa-address-card"></i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link shadow" asp-controller="Admin" asp-action="BrandList">
                            <i class="fas fa-handshake"></i>
                            <p>Brands</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link shadow" asp-controller="Admin" asp-action="CategoryList">
                            <i class="fas fa-poll-h"></i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link shadow" asp-controller="Admin" asp-action="ProductList">
                            <i class="fab fa-product-hunt"></i>
                            <p>Products</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Admin" asp-action="ComplatedOrders"><i class="fas fa-archive"></i> Complated Orders</a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                </div>
            </nav>

            @RenderBody()

            <footer class="footer text-center align-items-center bg-white p-3">
                <div class="row">
                    <div class="col" style="font-size: 20px;">
                        ©
                        <script>document.write(new Date().getFullYear())</script>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/js/AdminJs/core/bundle.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <environment include="Development">
    </environment>
    <environment exclude="Development">

    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("AddScripts", false)
    @RenderSection("AddScripts2", false)
</body>
</html>
