@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        @await Component.InvokeAsync("ParentCategoryList")

        @await Component.InvokeAsync("BrandList")
    </div>

    <div class="col-10">
        <div class="row">
            <div class="col text-sm-left">
                <h6 class="text-secondary">There are @Model.Count() products...</h6>
            </div>
        </div>

        <div class="row text-center">

            @if (Model.Count == 0)
            {
                <div class="col bg-danger rounded text-center">
                    <h1>Product not found</h1>
                </div>
            }
            else
            {
                @foreach (var product in Model)
                {
                    <div class="col-md-3 m-b-1">
                        <div class="row flip3D text-center m-l-r-025">
                            @Html.Partial("_SingleProductVew", product)
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>

