<div class="col text-center mt-lg-5  mt-5 mt-md-5 mt-sm-5 mt-xl-5">
    <img src="~/images/empty-box.png" style="opacity: 0.6; width:30%;" class=" mt-lg-2  mt-2 mt-md-4 mt-sm-4 mt-xl-2"/>
    <h2 class="text-center text-secondary" style="margin-top:3rem;">The product was not found.</h2>
</div>