<div class="col text-center">
    <img src="~/images/empty-box.png" style="width:30%; margin:auto;" />
    <h2 class="text-center my-color" style="margin-top:3rem;">The product was not found.</h2>
</div>