a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


.i-div {
    width: 100%;
    height: 6rem;
    border-radius: 0.35rem;
    display: block;
    position: relative;
    background: #fff;
}

.i-div-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pr-card-header {
    padding: 0;
    margin: 0;
    font-weight: bold;
    height: 3rem;
    box-sizing: border-box;
    overflow: hidden;
}

    .pr-card-header p {
        color: #FE4330;
    }

.pr-card-desc {
    padding: 0;
    margin: 0;
    height: 3rem;
    box-sizing: border-box;
    overflow: hidden;
}

.pr-card-price {
    border-top: 1px solid lightgrey;
    padding: 0;
    margin: 0.5rem 0 0 0;
    height: 3rem;
    box-sizing: border-box;
    overflow: hidden;
}

    .pr-card-price p {
        padding: 0;
        margin: 0;
    }

.line-through {
    text-decoration: line-through;
}

.head-back {
    width: 100%;
    background-image: url("~/images/back1.jpg");
    background-color: #cccccc;
}

.last-center {
    text-align-last: center;
}

.flip3D {
    /*width: 240px;
    height: 200px;*/
    /*margin: 10px;*/
    position: relative;
    /*float: left;*/
}

    .flip3D > .front {
        position: absolute;
        transform: perspective( 400px ) rotateY( 0deg );
        /*width: 240px;
        height: 200px;*/
        border-radius: 7px;
        backface-visibility: hidden;
        transition: transform 0.7s linear 0s;
    }

    .flip3D > .back {
        position: relative;
        transform: perspective( 400px ) rotateY( 180deg );
        /*width: 240px;
        height: 200px;*/
        border-radius: 7px;
        backface-visibility: hidden;
        transition: transform 0.7s linear 0s;
    }

    .flip3D:hover > .front {
        transform: perspective( 400px ) rotateY( -180deg );
    }

    .flip3D:hover > .back {
        transform: perspective( 400px ) rotateY( 0deg );
    }


.my-color {
    color: #FE4330;
}

.my-btn-border {
    border: 1px solid red;
    color: #FE4330;
    margin: 0.25rem 0;
    padding: 4px 2px;
    text-align: center;
    background: none;
    border-radius: 4px;
    transition: 1s;
    box-sizing: border-box;
}

    .my-btn-border:hover {
        background: #FE4330 !important;
        color: #fff !important;
    }

.my-btn {
    border: 1px solid #FE4330;
    color: #FE4330;
    margin: 0.25rem 0;
    padding: 0.5rem;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

    .my-btn:hover {
        background: #FE4330;
        color: #fff;
    }

.border-none {
    border: none !important;
}

.m-t-b-025 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.m-l-r-025 {
    margin: 0 0.25rem !important
}

.m-b-1 {
    margin: 0 0 1rem 0 !important
}

.p-l-r-1 {
    padding: 0 1rem !important
}

.search-box {
    text-align:center;
    background: #FE4330;
    height: 40px;
    border-radius: 40px;
    padding: 0.2rem;
}

    .search-box:hover > .search-btn {
        background: white;
        color: #FE4330;
    }

    .search-box:hover > .search-txt {
        width: 240px;
        padding: 0 6px;
    }

.search-txt::placeholder {
    color: rgb(240, 202, 202);
    opacity: 1;
}

.search-btn {
    /*position: absolute;*/
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #FE4330;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    color: #fff;
    background: none;
    text-align: center;
    text-align-last: center;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.7s;
    line-height: 40px;
    width: 0px;
}

* {
    box-sizing: border-box;
}

.home-cart {
    height: 40px;
    position: relative;
    color: #022C32;
    margin: 0.25rem 0;
    padding: 10px 15px 4px 15px;
    text-align: center;
    border: none;
    transition: 0.25s;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    /*background: lightgray;*/
}

    .home-cart:hover {
        color: #FE4330;
    }

.cart-count {
    position: absolute;
    background-color: #FB404B !important;
    text-align: center;
    border-radius: 10px;
    min-width: 18px;
    /*padding: 0 5px;*/
    height: 18px;
    font-size: 12px;
    color: #FFFFFF !important;
    font-weight: bold;
    line-height: 18px;
    top: 3px;
    right: 1px;
}

.log-btn {
    color: #17A2B8;
    border: 0.2rem solid #17A2B8;
    border-radius: 0.3rem;
    padding: 0.3rem;
    display: block;
    transition: 0.5s;
}

    .log-btn:hover {
        color: #fff;
        background: #17A2B8;
    }

.log-body {
    /* box-sizing: border-box; */
    /*background: #f6f5f7;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.log-h1 {
    box-sizing: border-box;
    font-weight: bold;
    margin: 0;
}

.log-h2 {
    text-align: center;
}

.log-p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.log-span {
    font-size: 12px;
}

.log-a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.log-button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

    .log-button:active {
        transform: scale(0.95);
    }

    .log-button:focus {
        outline: none;
    }

    .log-button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

.log-form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.log-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.log-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.log-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.log-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}


.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.log-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.log-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.log-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.log-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }
