
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row">
        <div class="col btn bg-success text-center">
            <h1>Welcome to Admin Page</h1>
        </div>
    </div>

